#footer{
  background-color:black;
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0%;

}

.footer-h3{
  color: whitesmoke;
  font-weight: bolder;
  text-align: center;
}


.footer-p{
  text-align: center;
  color: white;
}


.icons{
  color: white;
 font-size: 22px;
align-items: center;

}




.icons-container {
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
  gap: 20px;
  margin-left: 20px; 
}


  .footer-container {


    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
  }


  .icon-text {
    display: inline-block; 
    vertical-align: middle; 
    margin-left: 10px; 
    color: white;
    position: relative;
    top: 6px;
  }


  .black-background {
    background-color: black;
    padding: 20px; /* Add padding for spacing */
    width: 50%;
    margin: 0% auto;
   margin-top: 10%;
   height: 200px;
   border-radius: 2%;
  }



  .Register-div{
    background-color: black;
    padding: 20px ;
    height: 300px;
    width: 30%;
    margin:0% auto;
  }


  .Register-input{
    margin-bottom: 10px;
    
  }


  .nav-text{
    color: white;
  }